<div class="pokemon-card" (click)="onClickPokemon(pokemon)">
  <div class="pokemon-image-container">
    <img class="pokemon-image" [src]="pokemonImage" alt="{{ pokemon.name }}">
    <div class="isFavorite" *ngIf="isFavorite">
      <mat-icon class="favorite_border" aria-hidden="false" (click)="onFavorite($event)">
        favorite</mat-icon>
    </div>
    <div class="isFavorite" *ngIf="!isFavorite">
      <mat-icon aria-hidden="false" (click)="onFavorite($event)">favorite_border
      </mat-icon>
    </div>
  </div>
  <div class="pokemon-name">
    {{ pokemon.name | uppercase }}
  </div>
</div>